<div class="panel panel-default col-xs-4">
  <div class="panel-body">
    <p>Name: <%=cat.name  %></p>
    <p>Breed <%=cat.breed %> </p>
    <p>Color: <%=cat.color %> </p>
    <p>Adoptable? <%=cat.adoptable %> </p>
    <img src=<%="#{cat.image}"%>>
  </div>
</div>
